__pycache__/
*.pyc
.venv/
.env
.ipynb_checkpoints/
.DS_Store
results/models/*.joblib
results/**/*.csv
results/**/*.json
reports/*.html
data/processed/*.csv

*.egg-info/

results/public_benchmark/

data/raw/*

!data/raw/README.md

results/tsai_guideseq_2015_benchmark/
